
/*
#1 color = #4ACCD1;
#2 color = #3fbbc0;
*/
/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Roboto:400,500,700,900');
/* --- pe-icon-7-stroke --- */


/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
}

.intro-content {
	background: url(../../assets/img/dummy/bg1.jpg) no-repeat top center;
	padding:200px 0 60px;
	background-size: 100% 100%;

}



.intro-content h2 {
	margin-bottom: 10px;
}


#container {
    border-radius: 15px;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 500px;
    }
    
    p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    }
  
    
a{
    font-size: 18px;
    text-decoration: none;
    /* background-color:#17a2b8!important; */
}
a:hover {
  font-size: 18px;
  text-decoration: none;
  background-color:#17a2b8!important;
}
