
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<section id="intro" class="intro">

        <div class="intro-content">
<div id="container">
       
<p id="p1">Appointments</p>
<br>
<p id="p2">A Passion for making people better</p>
<p>At Columbia Asia, we are determined to provide our patients with excellence in healthcare services.
<br><b>Book an appointment with us</b> </p>

<br>

<div class="bg-dark text-white" style="font-size:120px;">

                <ul class="nav nav-pills" >
                 <div class="row justify-content-center align-items-center">
                    <div class="mx-auto">
                        <li class="nav-item dropdown">
            
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                aria-expanded="false" style="color:white;">Search for a Hospital Location</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" style="font-size:20px">Hebbal</a>
                                <a class="dropdown-item" href="#" style="font-size:20px">Nagawara</a>
            
                            </div>
            
                        </li>
                    </div>
            
            
            
                    <div class="mx-auto">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false" style="color:white;">Search for a Doctor or speciality</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" style="font-size:20px">Accident and Emergency</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Anaesthesia & Intensive Care</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Blood Bank</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Cardiology</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Cardiothoracic & Vascular Surgery</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Dental Department</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Dermatology</a>
                            <a class="dropdown-item" href="#" style="font-size:20px"> ENT Department</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Ophthalmology</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Gynaecology & Obst.</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Neurology</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Orthopaedics</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Paediatrics </a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Physiotherapy</a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Psychiatry </a>
                            <a class="dropdown-item" href="#" style="font-size:20px">Radiology</a>
                        </div>
            
                    </li>
            
                  </div>
                    <button type="button" class="btn btn-primary"
                        style="width:70px; background-color:#17a2b8!important;margin-bottom: 5px;"><i
                            class="fa fa-search"></i></button>
                        </div>
                        </ul>
               
            
            </div>

</div>

</div>
</section>